@import "../../../shared/shared";

* {
    font-family: YuGoth-thin;
}

.homepage-wrapper,
.see-more {
    @include flexJustify(flex, space-between);
}

.holder {
    width: 70%;
}

.see-more {
    padding: 15px 20px;
    width: 300px;
    background: black;
    color: white;
    margin: 50px auto 0px;
    font-family: YuGoth-bold !important;

    &:hover {
        background:#282828;
        transition: 1s ease-in-out all;
    }
}

.right-arrow-more {
    background: url('../../../../assets/right.png');
    @include bg-essentials(contain, center);
    width: 25px;
    height: 25px;
    
}
