<aside>
    <img src="../../../assets/quote.jpg" class="banner-1 clickable">
    <div class="recommend">
        <h1>Recommend</h1>
        <div class="recom-prev clickable">
            <div class="recom-img"></div>
            <div class="recom-txt">This is a sample text for recom asasasa asasa asakajsa asas</div>
        </div>
        <div class="recom-prev clickable">
            <div class="recom-img"></div>
            <div class="recom-txt">This is a sample text for recom asasasa asasa asakajsa asas</div>
        </div>
        <div class="recom-prev clickable">
            <div class="recom-img"></div>
            <div class="recom-txt">This is a sample text for recom asasasa asasa asakajsa asas</div>
        </div>
    </div>
    <div class="buttons">
        <div class="dummy-banner-1 clickable">Dummy Banner</div>
        <div class="dummy-banner-1 clickable">Dummy Banner</div>
        <div class="dummy-banner-1 clickable">Dummy Banner</div>
    </div>
</aside>