<aside>
    <img src="../../../assets/quote.jpg" class="banner-1 clickable" (click)="onBannerClicked(4, 'top')">
    <div class="recommend">
        <h1>Recommend</h1>
        <div class="recom-prev clickable" *ngFor="let rec of recommend; let n=index" (click)="onBannerClicked(n, 'recom')">
            <div class="recom-img"></div>
            <div class="recom-txt">This is a sample text for recom asasasa asasa asakajsa asas</div>
        </div>
    </div>
    <div class="buttons">
        <div class="dummy-banner clickable" *ngFor="let dum of dummy; let i=index" (click)="onBannerClicked(i, 'dummy')">Dummy Banner</div>
    </div>
</aside>