@import "../shared";

* {
    font-family: YuGoth-thin;
}

.footer-holder {
    background: black;
    color: white;
    padding: 20px 30px;
    @include flexJustify(flex, space-between);
}

.clickable {
    margin-right: 25px;
}