.slider-holder {
    width: 100% !important;
    opacity: 1;
}

.wrapper {
    display: grid;
    width: 100%;
}

.images-arrows {
    display: flex;
    width: inherit;
    justify-content: center;
}

.image-view {
    background-size: cover;
    min-width: 100%;
    background-position: bottom;
    min-height: 600px;
    opacity: 1;
    transition: 0.5s ease-in-out all;
}

.left-arrow,
.right-arrow {
    width: 50px;
    height: 50px;
    margin-top: 260px;
    z-index: 0;
    cursor: pointer;
}

.left-arrow {
    margin-right: -80px;
}

.right-arrow {
    margin-left: -80px;
}

.image-pager {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}

.circle {
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}

.circle:hover {
    background: gainsboro;
    transition: 1s linear all;
}
