<div class="slider-holder">
    <div class="wrapper">
        <div class="images-arrows">
            <img class="left-arrow" src="../../../assets/left.png" (click)="arrowClicked('left')">
            <div class="image-view" [style.background-image]="images[activeIndex]">
                <div class="slider-text">
                    <h1>キャッチコピーが入ります。</h1>
                    <p class="sub-header">
                        サンプルテキストサンプルテキストサンプルテキストサンプルテキスト <br>
                        サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    </p>
                </div>
            </div>
            <img class="right-arrow" src="../../../assets/right.png" (click)="arrowClicked('right')">
        </div>
        <div class="image-pager">
            <div class="circle" (click)="pagerClicked(0)"></div>
            <div class="circle" (click)="pagerClicked(1)"></div>
            <div class="circle" (click)="pagerClicked(2)"></div>
        </div>
    </div>
</div>