.item-block-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.item-block-wrapper:hover {
    color: sandybrown;
}

.item-block-img {
    background: url('../../../../assets/banana.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 300px;
}

.item-block-desc {
    padding: 20px 15px;
    width: 100%;
    line-height: 1.3;
}

span {
    font-weight: 900;
}

.gray-text {
    color: gray;
}